$black: #000000;
$white: #ffffff;
$grey: #f7f7f7;
$dark_grey: #1E1E1E;

//Brand Colors
$primary_grey: $dark_grey;
$secondary_grey: #2C2C2C;
$primary_red: #E12319;
$secondary_red: red;

// TEXT COLOURS
$heading-primary: $secondary_grey;
$heading-secondary: $black;
$main-body: $black;

// GLOBALS
$small-mobile-width: 480px;
$mobile-width: 750px;
$tablet-width: 1024px;
$desktop-width: 1240px;


//Font Sizes
$heading-font: 18px;
$paragraph: 16px;
$large-heading: 24px;

//mixins
@mixin small-mobile {
  @media screen and (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$tablet-width + 1}) {
    @content;
  }
}
